  .whiteline {
    width: 50px;
    height: 4px;
    background-color: white;
  }
 
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
    padding-left: 7.5%;
    padding-right: 7.5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    background: #0F0F0F66;
    backdrop-filter: blur(18px);
    z-index: 200;
    transition: all 300s ease-in-out;
  }
  
  .navitems {
    margin: 10px;
    color: #FFF;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
  }
  
  .title {
    font-family: "Oswald", sans-serif;
    color: #FFF;
    font-size: 40px;
    margin-left: 10px;
    letter-spacing: 8px;
    text-transform: uppercase;
    align-items: center;
  }


  


  .popuplink {
    padding: 24px;
    background-color: #FFF;
    text-align: center;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    width: 100%;
  }

  .popuplink:hover {
    background-color: #e3e3e3;
    color: #d64646;
  }
  