.typewriter {
    color: #8A3CD6;
    font-size: 98px;
}

@media screen and (max-width: 480px) {

    .typewriter {
        color: #8A3CD6;
        margin-top: 12px;
        font-size: 58px;
        word-break: break-all;
    }
}