.section {
  border-radius: 32px;
  text-align: center;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #FFF;
  border-radius: 32px;
  margin-top: 24px;
}

.cflogoWrapper {
  display: flex;
  align-items: baseline;
}

.img2, .img1 {
  transition: all 0.25s ease-in-out;
}

.cflogoWrapper:hover > .img2 {
  transform: rotate(-15deg);
}

.cflogoWrapper:hover > .img1 {
  transform: rotate(15deg);
}

.cftitle {
  color: #472388;
  font-size: 60px;
  font-family: 'Archivo', sans-serif;
  line-height: 73.1px;
  font-weight: 700;
}

.cfdesc {
  color: #472388;
  font-size: 20px;
  line-height: 30.6px;
  font-family: 'Archivo', sans-serif;
  text-align: center;
  margin-top: 12px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.input {
  width: 60%;
  border: 1.5px solid #755ADF;
  padding: 12px;
  border-radius: 12px;
}

.input::placeholder {
  color: #9F8AF1;
}

.button {
  border: 1.5px solid #755ADF;
  background: #DDD8F6;
  padding: 12px 48px;
  font-size: 26px;
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  border-radius: 66.47px;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  background: #755ADF;
  color: #FFF;
}