.contact {
    min-height: 100vh;
    background-color: transparent;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Nunito", sans-serif;
    display: flex;
    color: #FFF;
}

.details {
    width: 40%;
    padding: 24px;
}

.sectiontitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 150%;
  }

  .form {
    width: 60%;
  }


  @media screen and (max-width: 480px) {
    
  
    .contact {
      padding: 5% !important;
      flex-direction: column;
      align-items: center;
    }

    .details, .form {
        width: 100%;
    }

  }