.master {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
  background: transparent;
  padding: 4% 7.5%;
  font-family: "Nunito", sans-serif;
  width: 100vw;
}

.section {
  border-radius: 32px;
  text-align: center;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px
}

.sectiontitle {
  font-family: 'Archivo', sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 56px;
}

.smText {
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: justify;
}


.sectionbg {
  background-color: #F4F6FA;
  border-radius: 32px;
  text-align: center;
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px
}

.sectionbgtitle {
  font-family: 'Archivo', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.compcard {
  border: 2px solid #A1AEBF;
  border-radius: 22.48px;
  padding: 1rem 2rem;
}


.herosection {
  background: url("/herobg.svg");
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  background-position: center;
  background-size: 100vw;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: top;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #31363F;
  padding: 1rem;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.navitems {
  margin: 10px;
  color: #FFF;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.title {
  font-size: 40px;
  margin-left: 10px;
  letter-spacing: 8px;
  align-items: center;
}

.titledesc {
  font-size: 62px;
  font-family: "Archivo", sans-serif;
  text-align: center;
  line-height: normal;
}

.desc {
  font-size: 24px;
  font-family: "Archivo", sans-serif;
  text-align: center;
  line-height: normal;
}


.card {
  border: 2px solid #F4F6F8;
  background: #F4F6F8;
  display: flex;
  flex-direction: column;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  width: 375px;
  height: 355px;
  border-radius: 25px;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  border: 2px solid #8154FF;
}

.cardlogo {
  background: #222228;
  border-radius: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

.card:hover > .cardlogo {
  background: linear-gradient(45deg, #FF9898, #8054FF);
}

.cardtitle {
  color: #070909;
  font-family: "Archivo", sans-serif;
  font-size: 28px;
  line-height: 36px;
}

.carddesc {
  color: #9E9E9E;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  line-height: 28px;
}


.screw {
  position: absolute;
  bottom: -70%;  /* Keep bottom fixed */
  left: 0;  /* Reset left to 0 or any desired initial position */
  z-index: 0;
  animation-name: screwanim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes screwanim {
  0% {
    transform: translateX(-30%) rotate(0deg);  /* Move from the left side */
  }

  100% {
    transform: translateX(60%) rotate(360deg);  /* Move to the right side */
  }
}





@media screen and (max-width: 480px) {
  .herosection {
    padding: 5% !important;
  }

  .emailInput {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .main {
    padding: 5% !important;
  }

  .titledesc {
    font-size: 32px;
  }

  .desc {
    font-size: 18px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionhead {
    margin-bottom: 2rem;
  }

  .sectionwrapper {
    flex-direction: column;
    margin:5%;
    margin-bottom: 2rem;
    text-align: center;
  }

  .contactform {
    width: 100%;
  }
}