.master {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
  background: transparent;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Nunito", sans-serif;
  color: #FFF;
  width: 100vw;
}

.emailInput {
  width: 40%;
  padding: 18px;
  border-radius: 24px;
  border: 1px solid #FFF;
  outline: none;
  background-color: #00000064;
  color: #FFF;
  font-size: 14px;
}

.emailBtn {
  background-color: #FFA800;
  font-size: 14px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border-radius: 24px;
  letter-spacing: 1.5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin-left: 12px;
  border: none;
}

.emailInput:focus {
  border: 1px solid #FFF;
  outline: none;
}

.herosection {
  background: linear-gradient(#223a7a7e, rgba(0, 0, 0, 0.5)), url("/background.jpg");
  height: fit-content;
  width: 90%;
  padding: 6rem;
  background-position: center;
  background-size: 100vw;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Nunito", sans-serif;
  border-radius: 12px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0%;
}

.sectiontitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 150%;
}

.sectionbody {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 2px;
  margin-bottom: 14px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #31363F;
  padding: 1rem;
  padding-left: 10%;
  padding-right: 10%;
}

.navitems {
  margin: 10px;
  color: #FFF;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.title {
  font-family: "Oswald", sans-serif;
  color: #FFF;
  font-size: 40px;
  margin-left: 10px;
  letter-spacing: 8px;
  text-transform: uppercase;
  align-items: center;
}

.titledesc {
  color: #FFF;
  font-size: 42px;
  margin-bottom: 4rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.desc {
  color: #FFF;
  font-size: 24px;
}

.sectionhead {
  font-size: 48px;
  margin-bottom: 2rem;
  text-align: center;
}

.sectionwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:2rem;
  margin-bottom: 2rem;
  text-align: center;
  flex-wrap: wrap;
  row-gap: 20px
}

.card {
  padding: 24px;
  background-color: #FFF;
  border-radius: 12px;
  width: 24vw;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  background-position: center;
  color: #FFF;
}

.card:hover {
  box-shadow: 0 0 22px #FDE0F9;
  border: 2px solid #FDE0F9;
}

.card:hover .button {
  background-color: #D4419D;
  color: #FFF;
}

.cardTitle {
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
  letter-spacing: 1.5px;
}


.cardBody {
  margin-top: 12px;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
}

.button {
  background-color: transparent;
  border: 1.5px solid #D4419D;
  font-size: 18px;
  color: #D4419D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 12px;
  letter-spacing: 1.5px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  width: 37%
}

.button:hover {
  background-color: #D4419D;
  color: #FFF;
}

.input {
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #333;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  height: 50px;
  box-shadow: 3px 3px 3px #f5f5f5;

}

.input:focus, .input:active {
  border: 1px solid #ccc;
  outline: none;
}

.label {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.25px;
  margin-bottom: 5px;
  color: #333;
}


.contactform {
  width: 50%;
}


@media screen and (max-width: 480px) {
  .herosection {
    padding: 5% !important;
  }

  .emailInput {
    width: 100%;
  }

  .main {
    padding: 5% !important;
  }

  .titledesc {
    font-size: 32px;
  }

  .desc {
    font-size: 18px;
  }

  .section {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10%;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionhead {
    margin-bottom: 2rem;
  }

  .sectionwrapper {
    flex-direction: column;
    margin:5%;
    margin-bottom: 2rem;
    text-align: center;
  }

  .contactform {
    width: 100%;
  }
}